Repository vtanja/JSD, pull requests merged in 2021-04, with the labels that each got.

#20 Java model classes generator
  .gitignore
  sbag/generators/java/__init__.py
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/__entity_name__.java.jinja
Labels: backend, generator

#21 Feature generate backend service
  sbag/generators/java/__init__.py
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/dto/__entity_name__DTO.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/service/__entity_name__Service.java.jinja
  sbag/language/library.sbag
Labels: backend, generator

#28 Feature generate initial component
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/app/src/app/app.module.ts.jinja
  sbag/generators/javascript/templates/app/src/app/components/components.module.ts
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-detail/__entity_name__-detail.component.css.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-detail/__entity_name__-detail.component.html.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-detail/__entity_name__-detail.component.spec.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-detail/__entity_name__-detail.component.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.css.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.html.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.spec.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.css.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.html.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.spec.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__.module.ts.jinja
Labels: frontend, generator

#31 Configure ci workflow
  .github/workflows/sonar-cloud.yml
  .github/workflows/textx-generate.yml
  .gitignore
  sonar-project.properties
Labels: configuration

#29 Configure database
  sbag/generators/java/templates/__project__/pom.xml.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/__entity_name__.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/repository/__entity_name__Repository.java.jinja
  sbag/generators/java/templates/__project__/src/main/resources/application.properties
  sbag/generators/java/templates/__project__/src/main/resources/application.properties.jinja
Labels: backend, configuration, generator

#32 Configure angular router
  sbag/generators/javascript/templates/app/src/app/app-routing.module.ts
  sbag/generators/javascript/templates/app/src/app/app-routing.module.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-detail/__entity_name__-detail.component.spec.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-detail/__entity_name__-detail.component.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-routing.module.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__.module.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__/__entity_name__.component.css.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__/__entity_name__.component.html.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__/__entity_name__.component.spec.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__/__entity_name__.component.ts.jinja
Labels: configuration, frontend

#33 Update model grammar
  sbag/generators/java/__init__.py
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/app/src/app/shared/loader/loader.component.html
  sbag/language/__init__.py
  sbag/language/library.sbag
  sbag/language/sbag.tx
Labels: generator, grammar

#30 Feature generate controllers
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/controller/__entity_name__Controller.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/service/__entity_name__Service.java.jinja
Labels: backend, generator

#40 Feature generate frontend services
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__.service.ts.jinja
  sbag/generators/javascript/templates/app/src/environments/environment.ts
Labels: frontend, generator

#41 Feature implement backend service getall request
  sbag/generators/java/templates/__project__/pom.xml.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/controller/__entity_name__Controller.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/service/__entity_name__Service.java.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__.service.ts.jinja
Labels: backend, generator

#42 Feature generate template for list view
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/app/angular.json
  sbag/generators/javascript/templates/app/src/app/app-routing.module.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.html.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__-routing.module.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__.module.ts.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__.service.ts.jinja
Labels: frontend, generator

#43 Add associations to model grammar
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/__entity_name__.java.jinja
  sbag/language/__init__.py
  sbag/language/library.sbag
  sbag/language/sbag.tx
Labels: grammar

#44 Feature entity preview
  sbag/generators/java/__init__.py
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/controller/__entity_name__Controller.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/dto/__entity_name__DTO.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/dto/__entity_name__DetailDTO.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/exception/ExceptionResolver.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/exception/NotFoundException.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/__entity_name__.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/service/__entity_name__Service.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/util/ModelMapperBean.java.jinja
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__/__entity_name__.component.html.jinja
  sbag/generators/javascript/templates/app/src/app/modules/__entity_name__/__entity_name__/__entity_name__.component.ts.jinja
  sbag/generators/javascript/templates/app/src/app/shared/model/__entity_name__.model.ts.jinja
  sbag/language/__init__.py
  sbag/language/library.sbag
  sbag/language/sbag.tx
Labels: backend, frontend, generator

#49 Add support for associations in model and dto classes
  sbag/generators/java/__init__.py
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/__entity_name__.java.jinja
  sbag/language/__init__.py
Labels: backend, generator

#50 Optimize frontend template generation
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.css.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.spec.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.css.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.spec.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-routing.module.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__.module.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__.service.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.css.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.spec.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.ts.jinja
  sbag/generators/javascript/entities/shared/index.ts
  sbag/generators/javascript/entities/shared/loader/loader.component.css
  sbag/generators/javascript/entities/shared/loader/loader.component.html
  sbag/generators/javascript/entities/shared/loader/loader.component.spec.ts
  sbag/generators/javascript/entities/shared/loader/loader.component.ts
  sbag/generators/javascript/entities/shared/model/__entity_name__.model.ts.jinja
  sbag/generators/javascript/entities/shared/shared.module.ts
Labels: frontend, generator

#51 Optimize grammar and refactor duplicate methods
  README.md
  sbag/generators/java/__init__.py
  sbag/generators/javascript/__init__.py
  sbag/language/__init__.py
  sbag/language/builtins.py
  sbag/language/sbag.tx
Labels: grammar

#52 Feature generate delete request implementation
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/service/__entity_name__Service.java.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__.module.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.ts.jinja
  sbag/generators/javascript/templates/app/angular.json
  sbag/generators/javascript/templates/app/package-lock.json
  sbag/generators/javascript/templates/app/package.json
Labels: backend, frontend, generator

#53 Spring security
  sbag/generators/java/__init__.py
  sbag/generators/java/templates/__project__/pom.xml.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/config/WebSecurityConfig.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/controller/AuthController.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/dto/AuthRequestDTO.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/dto/UserTokenStateDTO.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/Role.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/User.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/__entity_name__.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/repository/RoleRepository.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/repository/UserRepository.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/security/AuthUserDetailsService.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/security/JwtTokenFilter.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/security/JwtTokenUtils.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/util/TimeProvider.java.jinja
  sbag/language/__init__.py
  sbag/language/builtins.py
Labels: backend, bug, configuration, generator

#54 Feature generate header footer and homepage
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/entities/shared/footer/footer.component.css
  sbag/generators/javascript/entities/shared/footer/footer.component.html
  sbag/generators/javascript/entities/shared/footer/footer.component.spec.ts
  sbag/generators/javascript/entities/shared/footer/footer.component.ts
  sbag/generators/javascript/entities/shared/header/header.component.css
  sbag/generators/javascript/entities/shared/header/header.component.html.jinja
  sbag/generators/javascript/entities/shared/header/header.component.spec.ts
  sbag/generators/javascript/entities/shared/header/header.component.ts
  sbag/generators/javascript/entities/shared/homepage/homepage.component.css
  sbag/generators/javascript/entities/shared/homepage/homepage.component.html.jinja
  sbag/generators/javascript/entities/shared/homepage/homepage.component.spec.ts
  sbag/generators/javascript/entities/shared/homepage/homepage.component.ts
  sbag/generators/javascript/entities/shared/shared.module.ts
  sbag/generators/javascript/templates/app/package-lock.json
  sbag/generators/javascript/templates/app/package.json
  sbag/generators/javascript/templates/app/src/app/app-routing.module.ts.jinja
  sbag/generators/javascript/templates/app/src/app/app.component.html
  sbag/generators/javascript/templates/app/src/styles.css
Labels: frontend, generator

#55 Added check to display prop if it is of base type
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.html.jinja
Labels: bug, enhancement, frontend

#56 Feature frontend entity form component / backend create and update functionalities
  .gitignore
  sbag/generators/java/__init__.py
  sbag/generators/java/templates/__project__/pom.xml.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/controller/__entity_name__Controller.java.jinja
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/service/__entity_name__Service.java.jinja
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__.module.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__.service.ts.jinja
  sbag/generators/javascript/entities/shared/model/__entity_name__.model.ts.jinja
  sbag/generators/javascript/templates/app/src/app/app.module.ts.jinja
  sbag/language/library.sbag
Labels: backend, frontend, generator

#57 Feature login and registration components
  sbag/generators/java/templates/__project__/src/main/java/com/example/__app__/model/User.java.jinja
  sbag/generators/javascript/entities/shared/auth/login/login.component.css
  sbag/generators/javascript/entities/shared/auth/login/login.component.html
  sbag/generators/javascript/entities/shared/auth/login/login.component.spec.ts
  sbag/generators/javascript/entities/shared/auth/login/login.component.ts
  sbag/generators/javascript/entities/shared/auth/register/register.component.css
  sbag/generators/javascript/entities/shared/auth/register/register.component.html
  sbag/generators/javascript/entities/shared/auth/register/register.component.spec.ts
  sbag/generators/javascript/entities/shared/auth/register/register.component.ts
  sbag/generators/javascript/entities/shared/header/header.component.html.jinja
  sbag/generators/javascript/entities/shared/shared.module.ts
  sbag/generators/javascript/templates/app/src/app/app-routing.module.ts.jinja
Labels: frontend

#59 Feature loader implementation
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.ts.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.html.jinja
  sbag/generators/javascript/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.ts.jinja
  sbag/generators/javascript/entities/shared/homepage/homepage.component.ts
  sbag/generators/javascript/entities/shared/loader/loader.component.html
  sbag/generators/javascript/entities/shared/loader/loader.component.ts
  sbag/generators/javascript/entities/shared/shared.service.ts
  sbag/generators/javascript/templates/app/src/app/app.component.html
  sbag/generators/javascript/templates/app/src/app/app.component.ts
Labels: enhancement, frontend

#65 Grammar for custom path
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.html.jinja
  sbag/language/library.sbag
  sbag/language/sbag.tx
Labels: grammar

#66 Generate custom path backend
  sbag/generators/java/__init__.py
  sbag/generators/java/custom_paths.py
  sbag/generators/java/templates/__project__/pom.xml.jinja
  sbag/generators/java/templates/app/controller/__entity_name__Controller.java.jinja
  sbag/generators/java/templates/app/service/__entity_name__Service.java.jinja
  sbag/generators/java/templates/custom_paths/controller/__path_name__Controller.java.jinja
  sbag/generators/java/templates/custom_paths/service/__path_name__Service.java.jinja
  sbag/language/__init__.py
  sbag/language/builtins.py
  sbag/language/library.sbag
  sbag/language/sbag.tx
Labels: backend, generator

#67 Generate frontend service for custom path
  sbag/generators/java/__init__.py
  sbag/generators/java/custom_paths.py
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__.service.ts.jinja
  sbag/language/__init__.py
  sbag/language/library.sbag
Labels: frontend, generator

#68 Bugfix naming of entities with more than one word
  sbag/generators/java/__init__.py
  sbag/generators/java/templates/app/controller/__entity_name__Controller.java.jinja
  sbag/generators/java/templates/app/dto/__entity_name__DTO.java.jinja
  sbag/generators/java/templates/app/dto/__entity_name__DetailDTO.java.jinja
  sbag/generators/java/templates/app/model/__entity_name__.java.jinja
  sbag/generators/java/templates/app/repository/__entity_name__Repository.java.jinja
  sbag/generators/java/templates/app/service/__entity_name__Service.java.jinja
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__-form/__entity_name__-form.component.ts.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.html.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.ts.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__-routing.module.ts.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__.module.ts.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__.service.ts.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.html.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__/__entity_name__.component.ts.jinja
  sbag/generators/javascript/templates/entities/shared/homepage/homepage.component.html.jinja
  sbag/generators/javascript/templates/entities/shared/model/__entity_name__.model.ts.jinja
  sbag/generators/javascript/templates/src/app/app-routing.module.ts.jinja
  sbag/generators/javascript/templates/src/app/app.module.ts.jinja
Labels: backend, bug, enhancement, frontend

#70 Refactor entity imports
  sbag/generators/java/__init__.py
  sbag/generators/java/custom_paths.py
  sbag/generators/java/templates/app/dto/__entity_name__DetailDTO.java.jinja
  sbag/generators/java/templates/app/model/__entity_name__.java.jinja
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__-list/__entity_name__-list.component.html.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__.service.ts.jinja
Labels: generator

#72 Fix wrong key for controller imports dictionary
  sbag/generators/java/templates/custom_paths/controller/__path_name__Controller.java.jinja
  sbag/generators/java/templates/custom_paths/service/__path_name__Service.java.jinja
Labels: bug

#73 Feature frontend generate custom path service
  sbag/generators/javascript/__init__.py
  sbag/generators/javascript/templates/custom_path/__path_name__.service.ts.jinja
  sbag/generators/javascript/templates/entities/modules/__entity_name__/__entity_name__.service.ts.jinja
  sbag/language/library.sbag
Labels: frontend, generator

#75 Update __init__.py
  sbag/generators/javascript/__init__.py
Labels: bug

#76 Optimized imports
  sbag/generators/java/__init__.py
  sbag/generators/javascript/__init__.py
Labels: bug
